:root {
    --clr-primary: rgb(35, 36, 39);
    --clr-primary-second: rgb(49, 50, 53);
    --clr-secondary: rgb(67, 71, 77);
    --clr-text: white;
}

*,
*::after,
*::before {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--clr-primary);
    font-family: sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    width: 100%;
}

nav {
    background-color: var(--clr-primary-second);
    height: 7vh;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.nav-left {
    display: flex;
    width: 120px;
    justify-content: space-between;
}

.search {
    position: relative;
}

button#search {
    background-color: var(--clr-secondary);
    width: 60px;
    /* border: 1px solid var(--clr-secondary); */
    box-sizing: border-box;
    position: absolute;
    right: 0;
    height: 30px;
    border-radius: 0 3px 3px 0;
}

img.logo {
    height: 40px;
    width: 80px;
}

.nav-centre {
    display: flex;
    align-items: center;
    height: 100%;
    /* border: 1px solid white; */
    width: 550px;
    justify-content: space-around;
}

.nav-centre input {
    width: 500px;
    height: 30px;
    border: 1px solid var(--clr-secondary);
    background-color: rgb(26, 24, 24);
    padding-left: 20px;
    border-radius: 3px 0 0 3px;
    vertical-align: top;
    align-self: center;
    font-size: 16px;
    /* text-align: center; */
}

.mic {
    margin-left: 10px;
}

.nav-right>img {
    padding-left: 25px;
    cursor: pointer;
}

main {
    height: 93vh;
    /* border: solid 1px white; */
    display: flex;
}

.main {
    width: 68%;
    /* border: 1px solid white; */
    height: 100%;
    padding: 1.5em;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-info {
    height: 100px;
    width: 100%;
    /* border: 1px solid white; */
    margin-top: 20px;
    color: white;
    padding: 10px;
    border-bottom: 1px solid rgba(179, 173, 173, 0.39);
}

.trend-info {
    color: rgb(18, 79, 248);
    font-size: 12px;
    padding-bottom: 5px;
}

.views-total,
.date-upload {
    display: inline-block;
    font-size: 14px;
    padding-top: 20px;
    color: rgba(179, 173, 173, 0.733);
}

aside {
    border: 1px solid white;
    width: 32%;
    height: 100%;
}